{% extends 'base.html' %}

{% block content %}
<form action="" method="post" class="formulario">
    <fieldset>
        <legend>{% block title %}Iniciar Sesión {% endblock %}</legend>
        <div class="campo">
            <label for="username">Nombre de Usuario</label>
            <input type="text" id="username" name="username" required minlength="4" maxlength="40">
        </div>
        <div class="campo">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required minlength="6" maxlength="40" >
        </div>
        <div class="registrar">
            <input class="btn" type="submit" value="Iniciar Sesión">
        </div>
    </fieldset>
</form>
{% endblock %}